<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index | <%= title %></title>
  </head>
  <body>
    <h1>This is placeholder text.<a href="/new">Click to go /new</a></h1>
    <% messages.forEach((message)=>{ %>
    <h1><%= message.user%> says:</h1>
    <p><%= message.text%></p>
    <p>at <%= message.added%></p>
    <%})%>
  </body>
</html>
